/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px; /* Thin width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #3490dc, #1d4ed8); /* Gradient background color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #1d4ed8, #3490dc); /* Gradient on hover */
}

.animate-marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 15s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }